.container {
    border: #d0d0d0;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background: #e2e2e2;
    margin: 5px;
    padding: 5 5 5 5;
	font-family: 'Open Sans', sans-serif;
}

.container .heading {
	    background: #b3c2ce;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
	margin: 5 0 5 0;
}

.container .body {
	    margin: 5;
		text-align: justify;
}

.container .body .button{
    background-color: #b3c2ce;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.sidebar {
    width: 30%;
    display: inline-block;
    min-width: 250px;
    vertical-align: top;
}

.main{
	
    width: 38%;
    display: inline-block;
    min-width: 300px;
}

p {
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
}

