.container {
    border: #d0d0d0;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    background: #e2e2e2;
    margin: 5px;
    padding: 5 5 5 5;
}

.container .heading {
	    background: #b3c2ce;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
	margin: 5 0 5 0;
}

.container .body {
	    margin: 5;
}

.sidebar {
    width: 30%;
    display: inline-block;
    min-width: 250px;
}

.main{
	
    width: 38%;
    display: inline-block;
    min-width: 300px;
}